.App {
   text-align: center;
}

body {
   margin: 0;
   padding: 0;
   height: 100%;
   background-image: url(https://p4.wallpaperbetter.com/wallpaper/680/613/77/starry-sky-milky-way-stars-hd-wallpaper-preview.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: 200%;
   top: 0;
   left: 0;
}


